.App {
  text-align: center;
}

#food-img {
    height: auto;
    width: auto;
    max-width: 280px;
    max-height: 280px;
}

h3 {
  margin-top: 0px;
}

#water-text {
  text-align: center;
}

.ui.container {
  width: 500px;
}

#food-card{
  text-align: center;
}
